# --- Backend (API) ---
fastapi
uvicorn
pydantic

# --- Frontend (Dashboard) ---
streamlit
requests

# --- Procesamiento de Datos ---
pandas
numpy
# Necesario para leer archivos .xls antiguos (como Superstore)
xlrd>=2.0.1
# Necesario para archivos .xlsx modernos (por si acaso)
openpyxl

# --- Modelos y Machine Learning ---
statsmodels
xgboost
scikit-learn

# --- Visualización ---
plotly
matplotlib
seaborn

# --- Notebooks ---
jupyter
ipykernel